
.Rproj.user/D58EC8BB/pcs/files-pane.pper

*.pper

.Rproj.user/D58EC8BB/

*.json

.Rhistory

.Rproj.user/shared/notebooks/

*.prj

*.shp

*.shx

*.tfw

*.tif

*.dbf

*.lock

*.jpeg

Outputs/IndividualFires/

Inputs/Rasters/dNBR_R21721.tif.ovr

Inputs/all_fires2.csv

Inputs/all_fires_FWI.csv

Inputs/All_fires_FWI_4.csv

Inputs/CBI.csv

.Rproj.user/C7684472/
