
.Rproj.user/D58EC8BB/pcs/files-pane.pper

*.pper

.Rproj.user/D58EC8BB/

*.json

.Rhistory

.Rproj.user/shared/notebooks/

*.prj

*.shp

*.shx

*.tfw

*.tif

*.dbf

*.lock

*.jpeg

Outputs/IndividualFires/
