
.Rproj.user/D58EC8BB/pcs/files-pane.pper

*.pper

.Rproj.user/D58EC8BB/

*.json

.Rhistory

.Rproj.user/shared/notebooks/

*.prj

*.shp

*.shx

*.tfw

*.tif

*.dbf

*.lock

*.jpeg

Outputs/IndividualFires/

Inputs/Rasters/dNBR_R21721.tif.ovr

Inputs/all_fires2.csv

Inputs/all_fires_FWI.csv

Inputs/All_fires_FWI_4.csv

Inputs/CBI.csv

.Rproj.user/C7684472/

Inputs/Fireweather/FireWeather.zip
.Rproj.user

*.png

Inputs/Rasters/DOB/R21721/dob.tif.aux.xml

*.cpg

Inputs/Rasters/DOB/drive-download-20220303T191155Z-001.zip

Inputs/G41607dat270.csv

Inputs/G51632dat270.csv

Inputs/R11498dat270.csv

Inputs/R11796dat270.csv

Inputs/R11921dat270.csv

Inputs/R21721dat270.csv

Inputs/Chutlanicorr.csv

Inputs/Islandcorr.csv

Inputs/Nadinacorr.csv

Inputs/Shovelcorr.csv

Inputs/Tezzeroncorr.csv

Inputs/Verduncorr.csv

fire.qgz

Outputs/Tables/Table2.csv

Outputs/Tables/Table2_ha.csv

Inputs/G41607silv_270.csv

Inputs/G51632silv_270.csv

Inputs/R11498silv_270.csv

Inputs/R11796silv_270.csv

Inputs/R11921silv_270.csv

Inputs/R21721silv_270.csv

*.gpkg

Outputs/Figures/

Outputs/Tables/
